In [71]:
from upload_data import *
from utils import *
import pandas as pd
%reload_ext autoreload
%autoreload 2

In [78]:
data_folder = 'data'
date = pd.to_datetime('2004-01-02')
ticker = 'AA.N'
date2 = pd.to_datetime('2004-01-05')

events = load_merge_trade_bbo(ticker = ticker,date=date)
events2 = load_merge_trade_bbo(ticker = ticker,date=date2)
all_events = pd.concat([events,events2])
all_events

,trade_price,trade_volume,bid-price,bid-volume,ask-price,ask-volume,day,time,ticker
xltime,,,,,,,,,
2004-01-02 09:30:51.038000-05:00,38.0,600.0,NaN,NaN,NaN,NaN,2004-01-02,09:30:51.038000,AA.N
2004-01-02 09:31:03.359999872-05:00,38.0,5000.0,NaN,NaN,NaN,NaN,2004-01-02,09:31:03.359999,AA.N
2004-01-02 09:31:08.182000256-05:00,NaN,NaN,38.0,1.0,38.05,1.0,2004-01-02,09:31:08.182000,AA.N
2004-01-02 09:31:08.185000064-05:00,NaN,NaN,38.0,1.0,38.05,50.0,2004-01-02,09:31:08.185000,AA.N
2004-01-02 09:31:10.005999616-05:00,NaN,NaN,38.0,1.0,38.04,1.0,2004-01-02,09:31:10.005999,AA.N
...,...,...,...,...,...,...,...,...,...
2004-01-05 15:59:51.021999744-05:00,NaN,NaN,38.7,15.0,38.75,135.0,2004-01-05,15:59:51.021999,AA.N
2004-01-05 15:59:51.330999680-05:00,38.7,600.0,NaN,NaN,NaN,NaN,2004-01-05,15:59:51.330999,AA.N
2004-01-05 15:59:53.220000-05:00,NaN,NaN,38.7,15.0,38.74,1.0,2004-01-05,15:59:53.220000,AA.N
2004-01-05 15:59:56.540000-05:00,38.7,100.0,NaN,NaN,NaN,NaN,2004-01-05,15:59:56.540000,AA.N
2004-01-05 15:59:58.609999872-05:00,NaN,NaN,38.7,16.0,38.74,1.0,2004-01-05,15:59:58.609999,AA.N

In [87]:

all_events = load_all()
all_events.dropna(inplace=True)
all_events

,trade_price,trade_volume,bid-price,bid-volume,ask-price,ask-volume,day,time,ticker
xltime,,,,,,,,,
2004-01-02 10:37:20.421000064-05:00,38.25,100.0,38.23,3.0,38.26,88.0,2004-01-02,10:37:20.421000,AA.N
2004-01-02 10:53:56.793000320-05:00,38.28,400.0,38.28,5.0,38.29,23.0,2004-01-02,10:53:56.793000,AA.N
2004-01-02 12:06:10.968999936-05:00,38.25,1100.0,38.23,36.0,38.25,1.0,2004-01-02,12:06:10.968999,AA.N
2004-01-02 12:22:42.145999616-05:00,38.12,800.0,38.09,2.0,38.11,1.0,2004-01-02,12:22:42.145999,AA.N
2004-01-02 12:40:46.467999872-05:00,38.15,1500.0,38.13,4.0,38.15,1.0,2004-01-02,12:40:46.467999,AA.N
2004-01-02 13:17:17.861000192-05:00,38.01,300.0,38.00,12.0,38.02,4.0,2004-01-02,13:17:17.861000,AA.N
2004-01-02 14:13:26.005000448-05:00,37.98,800.0,37.95,10.0,37.99,8.0,2004-01-02,14:13:26.005000,AA.N
2004-01-02 14:56:16.060000256-05:00,37.67,700.0,37.66,4.0,37.68,27.0,2004-01-02,14:56:16.060000,AA.N
2004-01-02 15:09:04.617000064-05:00,37.59,100.0,37.59,9.0,37.60,101.0,2004-01-02,15:09:04.617000,AA.N
2004-01-02 15:21:23.427999744-05:00,37.53,1300.0,37.52,6.0,37.54,3.0,2004-01-02,15:21:23.427999,AA.N
2004-01-02 15:30:10.608000256-05:00,37.58,300.0,37.57,8.0,37.58,2.0,2004-01-02,15:30:10.608000,AA.N
2004-01-02 15:33:41.528999680-05:00,37.58,1000.0,37.59,10.0,37.60,98.0,2004-01-02,15:33:41.528999,AA.N
2004-01-05 09:58:07.956999808-05:00,37.87,300.0,37.86,27.0,37.88,4.0,2004-01-05,09:58:07.956999,AA.N
2004-01-05 10:39:44.115000448-05:00,37.94,600.0,37.93,8.0,37.94,22.0,2004-01-05,10:39:44.115000,AA.N
2004-01-05 11:00:08.270000-05:00,37.96,200.0,37.95,6.0,37.96,9.0,2004-01-05,11:00:08.270000,AA.N
2004-01-05 14:36:56.747999744-05:00,38.41,100.0,38.40,1.0,38.41,12.0,2004-01-05,14:36:56.747999,AA.N
2004-01-05 15:12:19.101000320-05:00,38.77,900.0,38.76,32.0,38.77,3.0,2004-01-05,15:12:19.101000,AA.N
2004-01-02 11:13:41.956000256-05:00,46.80,100.0,46.79,10.0,46.80,18.0,2004-01-02,11:13:41.956000,ABT.N
2004-01-02 11:29:25.050999936-05:00,46.84,100.0,46.83,1.0,46.84,1.0,2004-01-02,11:29:25.050999,ABT.N
2004-01-02 11:51:01.854999936-05:00,46.98,100.0,46.98,27.0,46.99,1.0,2004-01-02,11:51:01.854999,ABT.N
2004-01-02 12:16:16.985999872-05:00,46.96,100.0,46.93,13.0,46.98,6.0,2004-01-02,12:16:16.985999,ABT.N
2004-01-02 12:56:28.911000192-05:00,46.79,100.0,46.79,9.0,46.80,28.0,2004-01-02,12:56:28.911000,ABT.N
2004-01-02 13:19:05.132999936-05:00,46.90,1200.0,46.89,5.0,46.90,2.0,2004-01-02,13:19:05.132999,ABT.N
2004-01-02 13:49:08.402000256-05:00,46.99,100.0,46.98,20.0,47.00,24.0,2004-01-02,13:49:08.402000,ABT.N
2004-01-02 13:51:32.278000128-05:00,46.99,500.0,46.98,25.0,47.00,10.0,2004-01-02,13:51:32.278000,ABT.N
2004-01-02 13:53:57.871000064-05:00,47.02,400.0,47.02,41.0,47.03,29.0,2004-01-02,13:53:57.871000,ABT.N
2004-01-02 14:52:55.193000448-05:00,46.73,400.0,46.73,17.0,46.74,12.0,2004-01-02,14:52:55.193000,ABT.N
2004-01-02 15:13:32.215000448-05:00,46.66,400.0,46.67,40.0,46.68,8.0,2004-01-02,15:13:32.215000,ABT.N
2004-01-05 09:46:59.434000256-05:00,47.12,4800.0,47.11,8.0,47.12,29.0,2004-01-05,09:46:59.434000,ABT.N
2004-01-05 12:03:00.902000-05:00,46.44,100.0,46.43,3.0,46.44,3.0,2004-01-05,12:03:00.902000,ABT.N
2004-01-05 12:11:06.835999872-05:00,46.35,3600.0,46.34,64.0,46.36,1.0,2004-01-05,12:11:06.835999,ABT.N
2004-01-05 12:13:26.760999680-05:00,46.38,1000.0,46.34,21.0,46.38,1.0,2004-01-05,12:13:26.760999,ABT.N
2004-01-05 12:43:31.679000320-05:00,46.29,200.0,46.28,5.0,46.30,11.0,2004-01-05,12:43:31.679000,ABT.N
2004-01-05 12:47:58.880999808-05:00,46.25,100.0,46.24,1.0,46.26,2.0,2004-01-05,12:47:58.880999,ABT.N
2004-01-05 13:20:35.208000384-05:00,46.36,600.0,46.35,13.0,46.36,7.0,2004-01-05,13:20:35.208000,ABT.N
2004-01-05 14:55:18.573000576-05:00,46.60,100.0,46.60,2.0,46.61,2.0,2004-01-05,14:55:18.573000,ABT.N
2004-01-05 15:48:54.612000256-05:00,46.79,400.0,46.79,2.0,46.80,59.0,2004-01-05,15:48:54.612000,ABT.N
2004-01-06 09:42:15.512000-05:00,46.42,500.0,46.36,10.0,46.50,66.0,2004-01-06,09:42:15.512000,ABT.N
2004-01-06 11:43:44.219000576-05:00,46.30,1900.0,46.29,1.0,46.35,3.0,2004-01-06,11:43:44.219000,ABT.N
2004-01-06 14:28:08.769000064-05:00,46.30,300.0,46.30,24.0,46.32,2.0,2004-01-06,14:28:08.769000,ABT.N
2004-01-06 14:39:38.392000256-05:00,46.37,100.0,46.37,1.0,46.38,6.0,2004-01-06,14:39:38.392000,ABT.N
2004-01-06 15:38:12.738999424-05:00,46.49,3200.0,46.48,3.0,46.49,14.0,2004-01-06,15:38:12.738999,ABT.N

In [69]:
dates = get_all_dates(ticker = 'AA.N')
print(dates)

['2004-01-02', '2004-01-05']

[None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]